# Data Exploration

In [10]:
import pandas as pd
data = pd.read_csv('data/BikeRentalDaily_train_valid.csv', sep = ";")
print("CSV-Datei:")
data.head()

CSV-Datei:

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,leaflets,price reduction,casual,registered,cnt
0,154,03.06.2011,2.0,0,6,0,5,1,1,24.8000,0.587133,53.12505,0.253121,991,0,898,4414,5312
1,685,15.11.2012,4.0,1,11,0,4,1,2,12.8667,0.324492,93.06255,0.152987,601,0,320,5125,5445
2,368,03.01.2012,1.0,1,1,0,2,1,1,6.0000,0.126275,66.18750,0.365671,549,0,89,2147,2236
3,472,16.04.2012,2.0,1,4,1,1,0,1,26.5667,0.614925,84.25005,0.284829,740,0,1198,5172,6370
4,442,17.03.2012,1.0,1,3,0,-1,0,2,20.5667,0.505046,113.37495,0.110704,773,1,3155,4681,7836

In [11]:
print("Columns:", data.columns.values)

Columns: ['instant' 'dteday' 'season' 'yr' 'mnth' 'holiday' 'weekday' 'workingday'
 'weathersit' 'temp' 'atemp' 'hum' 'windspeed' 'leaflets'
 'price reduction' 'casual' 'registered' 'cnt']